
<h1>Create </h1>

<form action="/new" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <br>
  <label for="content">Content:</label>
  <input type="text" name="content">
  <br>
  <input type="submit">
  </body>
</form>